<html
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Buttons">
  <be:moduleLayout.button.linkButton
        icon="actions-view-go-back"
        title="{f:translate(id: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.goBack')}"
        link="{f:uri.action(controller: 'Config', action: 'list')}"
  />
</f:section>

<f:section name="Content">
  <f:form action="update" name="config" object="{config}">
    <f:render partial="Config/FormFields" section="Main" arguments="{_all}" />
    <f:form.submit value="Update" class="btn btn-default"/>
  </f:form>
</f:section>
</html>
