<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:section name="Main">
    <div class="typo3-messages">
      <div class="alert alert-danger">
        <div class="media">
          <div class="media-left">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-times fa-stack-1x"></i>
            </span>
          </div>
          <div class="media-body">
            <h4 class="alert-title">{error.headline}</h4>
            <p class="alert-message">{error.bodytext}</p>
          </div>
        </div>
      </div>
    </div>
  </f:section>
</html>