<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Main">
		<div role="tabpanel">
			<ul class="nav nav-tabs t3js-tabs" role="tablist" id="tabs-tab" data-store-last-tab="1">
				<li role="presentation" class="t3js-tabmenu-item">
					<a href="#general-tab" title="" aria-controls="general-tab" role="tab" data-bs-toggle="tab" aria-selected="true" class="active">
						<f:translate key="be.controller.action.new.general.tab.lbl" extensionName="JdUsercentricsConfigurator" />
					</a>
				</li>
				<li role="presentation" class="t3js-tabmenu-item ">
					<a href="#smart-dataprotector" title="" aria-controls="smart-dataprotector" role="tab" data-bs-toggle="tab" aria-selected="false">
						<f:translate key="be.controller.action.new.smart.dataprotector.block.only.tab.lbl" extensionName="JdUsercentricsConfigurator" />
					</a>
				</li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="general-tab">
					<div class="panel panel-tab">
						<div class="panel-body">
							<f:render section="GeneralTab" arguments="{_all}" />
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="smart-dataprotector">
					<div class="panel panel-tab">
						<div class="panel-body">
							<div class="container">
								<f:render section="BlockOnly" arguments="{_all}" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</f:section>

	<f:section name="GeneralTab">
		<div class="container">
			<div class="row justify-content-evenly">
				<div class="card col-11">
					<div class="card-body">
						<h3 class="card-title"><f:translate key="tx_jdusercentricsconfigurator_domain_model_config.settings_id" /> <span class="required">*</span></h3>
						<p>Enter here the usercentrics ID for this Domain.</p>
					</div>
					<div class="card-footer">
						<f:form.textfield property="settingsId" id="settingsId" class="form-control"/>
					</div>
				</div>
			</div>
			<div class="row"><div class="w-100">&nbsp;</div></div>
			<div class="row justify-content-evenly">
				<div class="card col-5">
					<div class="card-body">
						<h3 class="card-title"><f:translate key="tx_jdusercentricsconfigurator_domain_model_config.activate" /></h3>
						<p>Activate Usercentrics integration for selected Domain.</p>
					</div>
					<div class="card-footer">
						<div class="form-check form-switch">
							<f:form.checkbox property="activate" id="activate" value="1" class="form-check-input" />
							<f:render section="ToggleStage" arguments="{toggle: config.activate}" />
						</div>
					</div>
				</div>
				<div class="card col-5">
					<div class="card-body">
						<h3 class="card-title"><f:translate key="tx_jdusercentricsconfigurator_domain_model_config.use_footer_link" /></h3>
						<p>If you deactivate the Icon for your page than activate the footer link to get access to the consentmanager.</p>
					</div>
					<div class="card-footer">
						<div class="form-check form-switch">
							<f:form.checkbox property="useFooterLink" id="useFooterLink" value="1" class="form-check-input" />
							<f:render section="ToggleStage" arguments="{toggle: config.useFooterLink}" />
						</div>
					</div>
				</div>
			</div>
			<div class="row"><div class="w-100">&nbsp;</div></div>
			<div class="row justify-content-evenly">
				<div class="card col-5">
					<div class="card-body">
						<h3 class="card-title"><f:translate key="tx_jdusercentricsconfigurator_domain_model_config.use_gtm" /></h3>
						<p>Activate the <b>Google Tag Manager</b> integration.</p>
					</div>
					<div class="card-footer">
						<div class="form-check form-switch">
							<f:form.checkbox property="useGtm" id="useGtm" value="1" class="form-check-input" />
							<f:render section="ToggleStage" arguments="{toggle: config.useGtm}" />
						</div>
					</div>
				</div>
				<div class="card col-5">
					<div class="card-body">
						<h3 class="card-title"><f:translate key="tx_jdusercentricsconfigurator_domain_model_config.gtm_id" /></h3>
						<p>
							If you use <b>Google Tag Manager</b> enter here the ID for the integration<br />
							And activate the integration.
						</p>
					</div>
					<div class="card-footer">
						<f:form.textfield property="gtmId" id="gtmId" class="form-control" />
					</div>
				</div>
			</div>
		</div>
	</f:section>

	<f:section name="BlockOnly">
		<p>Please select the Services which has to be watched by the Smart Dataprotector.</p>
		<div class="row"> <div class="w-100">&nbsp;</div></div>
		<f:variable name="conf" value="{f:if(condition: newConfig, then: newConfig, else: config)}" />
		<f:render partial="Usercentrics/ServiceSelection"
							section="Main"
							arguments="{ucServiceList: ucServiceList, fieldName: 'blockOnly', config: conf}" />
	</f:section>

	<f:section name="ToggleStage">
		<f:if condition="{toggle}">
			<f:then><f:translate key="be.module.edit.toggle.state.active" /></f:then>
			<f:else><f:translate key="be.module.edit.toggle.state.disabled" /></f:else>
		</f:if>
	</f:section>
</html>