<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="settingsId">
	<f:translate key="tx_jdusercentricsconfigurator_domain_model_config.settings_id" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="settingsId" id="settingsId" /><br />
<label for="activate">
	<f:translate key="tx_jdusercentricsconfigurator_domain_model_config.activate" />
</label><br />
	<f:form.checkbox property="activate" id="activate" value="1" /><br />
<label for="useFooterLink">
	<f:translate key="tx_jdusercentricsconfigurator_domain_model_config.use_footer_link" />
</label><br />
	<f:form.checkbox property="useFooterLink" id="useFooterLink" value="1" /><br />
<label for="useGtm">
	<f:translate key="tx_jdusercentricsconfigurator_domain_model_config.use_gtm" />
</label><br />
	<f:form.checkbox property="useGtm" id="useGtm" value="1" /><br />
<label for="blockOnly">
	<f:translate key="tx_jdusercentricsconfigurator_domain_model_config.block_only" />
</label><br />
	<f:form.textarea property="blockOnly" id="blockOnly" cols="40" rows="15" /><br />
<label for="blockElements">
	<f:translate key="tx_jdusercentricsconfigurator_domain_model_config.block_elements" />
</label><br />
	<f:form.textarea property="blockElements" id="blockElements" cols="40" rows="15" /><br />
</html>