<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-jd-usercentrics-configurator" >
	<tr>
		<td><f:translate key="tx_jdusercentricsconfigurator_domain_model_config.settings_id" /></td>
		<td>{config.settingsId}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_jdusercentricsconfigurator_domain_model_config.activate" /></td>
		<td>{config.activate}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_jdusercentricsconfigurator_domain_model_config.use_footer_link" /></td>
		<td>{config.useFooterLink}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_jdusercentricsconfigurator_domain_model_config.use_gtm" /></td>
		<td>{config.useGtm}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_jdusercentricsconfigurator_domain_model_config.block_only" /></td>
		<td>{config.blockOnly}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_jdusercentricsconfigurator_domain_model_config.block_elements" /></td>
		<td>{config.blockElements}</td>
	</tr>
</table>
</html>